{{ define "main" }}
<div class="mv-xxl text text-center">
	<p class="content-text-width h-card">Hi, I am <span class="p-name">Raghavendra Kamath</span> (raghukamath), an Illustrator from <span class="p-locality">Mumbai</span> <span class="p-country">India</span>.
		 I use only Free (libre) and Open Source tools to create illustrations, comic book pages, book covers and visual for ads &hellip;
		<a href="{{ .Site.BaseURL }}about" class="mt-lg link u-url u-uid">Read more about me <span class="arrow">&rarr;</span></a>
		</p>
</div>
<hr class="mv-xl divider">
{{.Content}}
<section>
	<h2>Portfolio</h2>
	<div class="grid-of-three mv-lg">
		{{ range first 9 (where .Site.RegularPages "Section" "works") }}
		<div class="work-post">
			<a class="thumb" href="{{ .RelPermalink }}">
				<img src="{{ .Params.workthumb }}" alt="{{ .Title }}-thumb">
			</a>
		</div>
		{{ end}}
	</div>
	<a href="{{ .Site.BaseURL }}/works" class="link">See more of my work<span class="arrow">&rarr;</span></a>
</section>
<hr class="divider mv-xl">
<section class="content">
	<h2>Blogroll</h2>
	<div class="grid-of-two mv-lg h-feed">
		{{ range where .Site.RegularPages "Section" "journal" }}
		<article class="post h-entry">
			<header>
			<a class="thumb" href="{{ .RelPermalink }}">
				<img src="{{- .Params.thumb -}}" alt="{{ .Title }}-thumb">
			</a>
				<h2 class="p-name"><a class=" u-url title-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
					{{- partial "meta-post.html" . -}}
			</header>
			<p class="mt-xs mb0 p-summary">{{ .Description | truncate 140 }}</br> <a class="link" href="{{ .RelPermalink }}">read more<span class="arrow"> &rarr;</span></a></p>
		</article>
		{{ end }}
	</div>
</section>
{{ end }}
