/* reset
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*reset*/

/*fonts*/
@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather'), local('Merriweather-Regular'), url('../fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'),url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

/* fonts */
html {
    box-sizing: border-box
}

body {
 font:400 1em / 2 'Merriweather',serif;
 color:#656565;
 background-color:#f8f7f6;
 -webkit-text-size-adjust:100%;
 -webkit-font-feature-settings:"kern" 1;
 -moz-font-feature-settings:"kern" 1;
 -o-font-feature-settings:"kern" 1;
 font-feature-settings:"kern" 1;
 font-kerning:normal;
 text-rendering:optimizeLegibility
}

.talk-content{
    max-width:900px;
    margin:0 auto;
    padding: 1em;
}
.header{
    text-align:center;
    padding-top:2em;
    font-size:1.25em;
    background-color: white;
    padding: 1em;
    border: 2px solid #d4cdc5;
}


.small{
    font-size:.65em;
    padding-bottom:.65em;
}
.links {
    color:#000;
    text-decoration:none;
     border-bottom: 1px solid #888377;
    padding-bottom: 2px

}


.meta {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
}

p:not(.small){
    margin-bottom:2em;
}

.talk-slides{
    width:100%;
}
.talk-titles{
    text-align:center;
    margin-top:2em;
    margin-bottom:1em;
    font-size:1.5em;
}

h1{
   font-size:1.75em; 
}
.caption{
    font-size:.75em;
    text-align:center;
}

::selection {
    background: #dbdad6
}

::-moz-selection {
    background: #dbdad6
}

.footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
    font-size: .65em;
}

