{{ define "main" }}
	<h2 class="mb-md full-width">Posts tagged as {{ .Title }}</h2>
<main class="grid-of-two mb-xl h-entry">
	{{ range .Pages }}
	<article class="tag post h-entry">
			<a class="thumb" href="{{ .RelPermalink }}">
				<img src="{{- .Params.thumb -}}" alt="{{ .Title }}-thumb">
			</a>
			<header>
				<h2 class="p-name"><a class="title-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
				{{- partial "meta-post.html" . -}}
			</header>
			<p class="mt-xs mb0 p-summary">{{ .Description | truncate 140}} </br> <a class="link" href="{{ .RelPermalink }}">Read More<span class="arrow"> &rarr;</span></a></p>
	</article>
	{{ end }}
</main>
{{ end }}
