<div class="comments">
{{ if eq .Section "works"}}
	<p>Let me know what you think about this artwork by mailing me your feedback on
		<a class="link" rel="author" href="mailto:raghu@raghukamath.com?Subject={{ .Title | urlize }}">raghu at <span class="p-author h-card">raghukamath</span> dot com <span class="arrow">&rarr;</span></a>
	</p>
{{ else }}
	<h2 class="mb-md">Comments</h2>
	<div id="commento"></div>
	<script src="https://commento.emblik.studio/js/commento.js"></script>
{{ end }}
</div>
