<hr class="mv-xl divider">
<footer >
	<section class="tag-list mv-md">
		<h3>Tag List</h3>
		<p class="m0">{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
			{{ with $.Site.GetPage (printf "/tags/%s" $name) }}
			<a class="taglink" href="{{ .Permalink }}">#{{ $name }}</a>
			{{ end }}
			{{ end }}
		</p>
	</section>
	<section class="mv-md">
		<h3>Quick Links</h3>
		<p class="m0">
			<a target="_blank" href="https://www.paypal.me/raghukamath">Donate</a> &ndash;
			<a href="https://box.raghukamath.com/cloud/index.php/s/2dbZ8tyaFcPqABK">Source Files</a> &ndash;
			<a href="{{ .Site.BaseURL }}tutorials">Tutorials</a> &ndash;
			<a href="{{ .Site.BaseURL }}talks">Talks</a> &ndash;
			<a rel="me" target="_blank" href="http://mastodon.art/@{{ .Site.Data.usernames.mastodon }}">Mastodon</a> &ndash;
			<a rel="me" target="_blank" href="https://dribbble.com/raghukamath">Dribble</a> &ndash;
			<a rel="me" target="_blank" href="https://raghukamath.redbubble.com">Prints on Redbubble</a> &ndash;
			<a rel="me" target="_blank" href="https://gitlab.com/{{ .Site.Data.usernames.gitlab }}">Gitlab</a> &ndash;
			<!--<a href="{{ .Site.BaseURL }}/Shop">Shop</a>,-->
			{{ if .IsPage }}
				<a href="/index.xml">RSS Feed</a>
				{{ else }}
				<a href='{{ with .OutputFormats.Get "rss" -}}{{ .RelPermalink }}{{ end }}'>RSS Feed</a> {{ end }}
		</p>
	</section>
	<section class="mv-md">
		<h3>Privacy Policy, License and Copyright</h3>
		<p class="m0"> All contents © copyright 2009 -
			{{ now.Year }} <a class="p-author h-card" rel="author" href="{{ .Site.BaseURL}}">Raghavendra Kamath</a> and
			respective brands unless otherwise
			noted. All rights reserved. <a class="link" href="{{ .Site.BaseURL }}license">Read more</a> about the licenses.
			You can read the Privacy Policy and Terms of Service <a href="{{ .Site.BaseURL }}privacy" class="link">here</a>.
		</p>
	</section>
	<p class="to-top"><a id="js-top"><b>&uarr; go to top &uarr;</b></a></p>
</footer>
<script src="{{ .Site.BaseURL}}js/main.js"></script>
