<header class="site-header mb-xl flex flex-wrap space-between align-item-center">
	<a class="logo gray" href="{{ .Site.BaseURL }}"><img class="mr-sm" src="{{ .Site.BaseURL }}/img/logo.svg" alt="raghukamath"/>raghukamath</a>
	<div id="js-button" class="hamberger">
		&#9776;
	</div>
	<nav id="js-dropdown" class="nav hide">
		<ul  class="list-none mv0 menu-list">
			{{ range .Site.Menus.main }}
			<li class='menu-item'>
				<a {{if eq .Name "contact"}}rel="me"{{end}} href="{{ .URL }}" class='menu-link gray {{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }} active {{ end }} '>{{ .Name | upper }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</header>
