<head>
	<!-- Made with Hugo, Html and css by raghukamath -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}</title>
	{{ hugo.Generator }}
	<meta property="og:title" content="{{ .Title }}">
	{{ if .IsPage }}
	<meta property="og:type" content="article">
	<meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
	{{ else }}
	<meta property="og:type" content="website">
	{{ end }}
	<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:site_name" content="{{ .Site.Title }}">
	{{ if .Params.thumb }}
	<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.thumb }}">
	{{ end }}
	{{ range .Params.tags }}
	<meta property="og:tags" content="{{ . }}">
	{{ end }}
	{{ if .Description }}
	<meta property="twitter:card" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	{{ else }}
	<meta property="twitter:card" content="{{ .Title }}">
	{{ end }}
	<meta property="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	<meta property="twitter:title" content="{{ .Title }}">
	{{ if .Params.thumb }}
	<meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.thumb }}">
	{{ end }}
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
	<meta name="keywords" content="{{with .Keywords}}{{ delimit . ", "}}{{ else }}{{ .Site.Params.keywords }}{{ end }}" />
	<meta name="author" content="{{ .Site.Params.author }}"/>
	{{ $css := resources.Get "css/main.css" }}
	{{ $style := $css | resources.Minify }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
	{{ if ne .Title "404 Page not found" }}
	<link rel="canonical" href="{{ .Permalink }}" />
	{{ end }}
	<link href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}' rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link rel="shortcut icon" href="{{ .Site.BaseURL}}/favicon.ico">
	<link rel="me" href="https://mastodon.art/@{{ .Site.Data.usernames.mastodon }}"/>
	<link rel="author" href="https://mastodon.art/@{{ .Site.Data.usernames.mastodon }}"/>
	<link rel="me" href="https://twitter.com/@{{ .Site.Data.usernames.twitter }}"/>
</head>
