<div class="post-meta">
{{if eq .Section "journal" }}
<time class="time meta dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
	{{- .Date.Format "Jan 2, 2006" -}}
</time> &ndash; <span class="meta reading">{{ .ReadingTime}} minute{{ if gt .ReadingTime 1 }}s {{ end }} read</span> &ndash;
{{ else }}
{{ with .Params.client }}<span class="meta client">Client: {{ . }}</span>  &ndash;{{ end }}
{{ end }}
{{ if .Params.tags }}
 <span class="meta tags">Tag{{ if gt (len .Params.tags) 1 }}s{{ end }}:
	 {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a class="p-category" href="{{ "/" | relURL }}{{ . | urlize }}">#{{ . }}</a>{{ end }}</span>
  {{ end }}
</div>
