{{ if or .PrevInSection .NextInSection }}
<div class="mv-lg space-between pv-base italic flex bordertb-dashed">
	{{if .PrevInSection}}
	<a href="{{ .PrevInSection.Permalink }}" class="" title="{{ .PrevInSection.Title }}">&larr; Prev.</a>
	{{end}}
	{{if .NextInSection}}
	<a href="{{ .NextInSection.Permalink }}" class="" title="{{ .NextInSection.Title }} ">Next &rarr;</a>
	{{end}}
</div>
{{ end }}
