<section class="related mv-lg">{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
<h2 class="mb-sm">Related Posts</h2>
<ul class="m0">
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}
</section>
