<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	{{- partial "head.html" . -}}
	<body class="m0auto">
		<div class="wrapper">
			{{- partial "header.html" . -}}
			{{- block "main" . }}{{- end }}
			{{- partial "footer.html" . -}}
		</div>
	</body>
</html>
