{{ define "main" }}
<main class='{{ if eq .Section "works"}}grid-of-three{{else}}grid-of-two{{end}} mv-lg h-feed'>
		<!-- ranges through each of the content files associated with a particular taxonomy term and renders the summary.html content view -->
		{{ range .Pages }}
		{{ if eq .Section "journal" }}
		<article class="post h-entry">
			<a class="thumb" href="{{ .RelPermalink }}">
				<img src="{{- .Params.thumb -}}" alt="{{ .Title }}-thumb">
			</a>
			<header>
				<h2 class="p-name"><a class="u-url title-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
					{{- partial "meta-post.html" . -}}
			</header>
			<p class=" mt-xs mb0 p-summary">{{ .Description | truncate 140}}</br> <a class="link" href="{{ .RelPermalink }}">read More<span class="arrow"> &rarr;</span></a></p>
		</article>
		{{ else }}
		<article class="work-post">
			<a class="thumb" href="{{ .RelPermalink }}">
				<img src="{{ .Params.workthumb }}" alt="{{ .Title }}-thumb">
			</a>
		</article>
		{{ end }}
		{{ end }}
</main>
{{ end }}
