{{ define "main" }}
<main class="single-content mv-lg">
	<article class="h-entry">
		<header class="content-text-width m0auto">
			<h1 class="p-name">{{ .Title }}</h1>
			{{- partial "meta-post.html" . -}}
		</header>
		<div class="text single-post e-content">
			{{ .Content }}
		</div>
	</article>
	{{- partial "next-prev-in-section.html" . -}}
	{{- partial "related-content.html" . -}}
	<hr class="mv-lg divider">
	{{- partial "comment.html" . -}}
</main>
{{ end }}
