@charset "utf-8";

html {
    box-sizing: border-box;
    font-size: 18px;
}

/* variables */

:root {
    /* setting base value for typography */

    /* refer https://www.modularscale.com */
    --text-ratio: 1.5; /* using the perfect fifths now */

    /* line-height */
    --line-height: 2;

    /* size scale */
    --size-base: 1em;
    --size-xs: 12px;
    --size-sm: 14px;
    --size-md: 1.5em;
    --size-lg: 2.25em;
    --size-xl: 3.375em;
    --size-xxl: 5.063em;
    --size-0: 0;

    /* colors */
    --gray: #565656;
    --black: #000;
    --white: #FFF;
    --link-color: #FE7;
    --link-dark: #ffd777;
    --primary-color: var(--gray);
    --secondary-gray: #DDD;

    /* screens */
    --screen-palm: 970px;
    --screen-laptop: 1200px;

    /* some calculations for post width */
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'), url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url("../fonts/LibreBaskerville-Italic.woff2") format("woff2"), url("../fonts/LibreBaskerville-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url("../fonts/LibreBaskerville-Regular.woff2") format("woff2"), url("../fonts/LibreBaskerville-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url("../fonts/LibreBaskerville-Bold.woff2") format("woff2"), url("../fonts/LibreBaskerville-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    font-family: "Lato", sans-serif;
    margin-bottom: var(--size-xs);
}

h1 {
    font-size: var(--size-lg);
}

h2 {
    font-size: var(--size-md);
}

h3 {
    font-size: var(--size-base);
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.italic {
    font-style: italic;
}

.work-post .raw-para {
    padding: 0;
    margin: 0;
}

/* font size */

.size-small {
    font-size: var(--size-md);
}

.text,
.content-text-width {
    max-width: 46.971em;
}

.text {
    margin-left: auto;
    margin-right: auto;
}

/* margin */
.m0 {
    margin: var(--size-0);
}

.m-xxs {
    margin: var(--size-xxs);
}

.m-xs {
    margin: var(--size-xs);
}

.m-sm {
    margin: var(--size-sm);
}

.m-md {
    margin: var(--size-md);
}

.m-lg {
    margin: var(--size-lg);
}

.m-xl {
    margin: var(--size-xl);
}

.m-xxl {
    margin: var(--size-xxl);
}

/* margin-top */

.mt0 {
    margin-top: var(--size-0);
}

.mt-xs {
    margin-top: var(--size-xs);
}

.mt-xxs {
    margin-top: var(--size-xxs);
}

.mt-sm {
    margin-top: var(--size-sm);
}

.mt-md {
    margin-top: var(--size-md);
}

.mt-lg {
    margin-top: var(--size-lg);
}

.mt-xl {
    margin-top: var(--size-xl);
}

.mt-xxl {
    margin-top: var(--size-xxl);
}

/* margin - bottom */

.mb0 {
    margin-bottom: var(--size-0);
}

.mb-xxs {
    margin-bottom: var(--size-xxs);
}

.mb-xs {
    margin-bottom: var(--size-xs);
}

.mb-sm {
    margin-bottom: var(--size-sm);
}

.mb-md {
    margin-bottom: var(--size-md);
}

.mb-lg {
    margin-bottom: var(--size-lg);
}

.mb-xl {
    margin-bottom: var(--size-xl);
}

.mb-xxl {
    margin-bottom: var(--size-xxl);
}

/* margin - left */

.ml0 {
    margin-left: var(--size-0);
}

.ml-xxs {
    margin-left: var(--size-xxs);
}

.ml-xs {
    margin-left: var(--size-xs);
}

.ml-sm {
    margin-left: var(--size-sm);
}

.ml-md {
    margin-left: var(--size-md);
}

.ml-lg {
    margin-left: var(--size-lg);
}

.ml-xl {
    margin-left: var(--size-xl);
}

.ml-xxl {
    margin-left: var(--size-xxl);
}

/* margin - right */

.mr0 {
    margin-right: var(--size-0);
}

.mr-xxs {
    margin-right: var(--size-xxs);
}

.mr-xs {
    margin-right: var(--size-xs);
}

.mr-sm {
    margin-right: var(--size-sm);
}

.mr-md {
    margin-right: var(--size-md);
}

.mr-lg {
    margin-right: var(--size-lg);
}

.mr-xl {
    margin-right: var(--size-xl);
}

.mr-xxl {
    margin-right: var(--size-xxl);
}

/* margin - auto */

.m0auto {
    margin: 0 auto;
}

/* margin horizontal */

.mh0 {
    margin-right: 0;
    margin-left: 0;
}

.mh-xxs {
    margin-left: var(--size-xxs);
    margin-right: var(--size-xxs);
}

.mh-xs {
    margin-left: var(--size-xs);
    margin-right: var(--size-xs);
}

.mh-sm {
    margin-left: var(--size-sm);
    margin-right: var(--size-sm);
}

.mh-md {
    margin-left: var(--size-md);
    margin-right: var(--size-md);
}

.mh-lg {
    margin-left: var(--size-lg);
    margin-right: var(--size-lg);
}

.mh-xl {
    margin-left: var(--size-xl);
    margin-right: var(--size-xl);
}

.mh-xxl {
    margin-left: var(--size-xxl);
    margin-right: var(--size-xxl);
}

/* margin - vertical */

.mv0 {
    margin-top: var(--size-0);
    margin-bottom: var(--size-0);
}

.mv-xxs {
    margin-top: var(--size-xxs);
    margin-bottom: var(--size-xxs);
}

.mv-xs {
    margin-top: var(--size-xs);
    margin-bottom: var(--size-xs);
}

.mv-sm {
    margin-top: var(--size-sm);
    margin-bottom: var(--size-sm);
}

.mv-md {
    margin-top: var(--size-md);
    margin-bottom: var(--size-md);
}

.mv-lg {
    margin-top: var(--size-lg);
    margin-bottom: var(--size-lg);
}

.mv-xl {
    margin-top: var(--size-xl);
    margin-bottom: var(--size-xl);
}

.mv-xxl {
    margin-top: var(--size-xxl);
    margin-bottom: var(--size-xxl);
}

/* adjustment */
.adjust-margin {
    margin-right: 0;
}

@media screen and (min-width: 700px) {
    .adjust-margin {
        margin-right: calc(-1 * var(--size-xl));
    }
}

/* padding */
.p0 {
    padding: var(--size-0);
}

.pv-base {
    padding: var(--size-base) 0;
}

.p-xxs {
    padding: var(--size-xxs);
}

.p-xs {
    padding: var(--size-xs);
}

.p-sm {
    padding: var(--size-sm);
}

.p-md {
    padding: var(--size-md);
}

.p-lg {
    padding: var(--size-lg);
}

.p-xl {
    padding: var(--size-xl);
}

.p-xxl {
    padding: var(--size-xxl);
}

/* padding-top */

.pt0 {
    padding-top: var(--size-0);
}

.pt-xs {
    padding-top: var(--size-xs);
}

.pt-xxs {
    padding-top: var(--size-xxs);
}

.pt-sm {
    padding-top: var(--size-sm);
}

.pt-md {
    padding-top: var(--size-md);
}

.pt-lg {
    padding-top: var(--size-lg);
}

.pt-xl {
    padding-top: var(--size-xl);
}

.pt-xxl {
    padding-top: var(--size-xxl);
}

/* padding - bottom */

.pb0 {
    padding-bottom: var(--size-0);
}

.pb-xxs {
    padding-bottom: var(--size-xxs);
}

.pb-xs {
    padding-bottom: var(--size-xs);
}

.pb-sm {
    padding-bottom: var(--size-sm);
}

.pb-md {
    padding-bottom: var(--size-md);
}

.pb-lg {
    padding-bottom: var(--size-lg);
}

.pb-xl {
    padding-bottom: var(--size-xl);
}

.pb-xxl {
    padding-bottom: var(--size-xxl);
}

/* padding - left */

.pl0 {
    padding-left: var(--size-0);
}

.pl-xxs {
    padding-left: var(--size-xxs);
}

.pl-xs {
    padding-left: var(--size-xs);
}

.pl-sm {
    padding-left: var(--size-sm);
}

.pl-md {
    padding-left: var(--size-md);
}

.pl-lg {
    padding-left: var(--size-lg);
}

.pl-xl {
    padding-left: var(--size-xl);
}

.pl-xxl {
    padding-left: var(--size-xxl);
}

/* padding - right */

.pr0 {
    padding-right: var(--size-0);
}

.pr-xxs {
    padding-right: var(--size-xxs);
}

.pr-xs {
    padding-right: var(--size-xs);
}

.pr-sm {
    padding-right: var(--size-sm);
}

.pr-md {
    padding-right: var(--size-md);
}

.pr-lg {
    padding-right: var(--size-lg);
}

.pr-xl {
    padding-right: var(--size-xl);
}

.pr-xxl {
    padding-right: var(--size-xxl);
}

/* padding - auto */

.p0auto {
    padding: 0 auto;
}

/* padding horizontal */

.ph-xxs {
    padding-left: var(--size-xxs);
    padding-right: var(--size-xxs);
}

.ph-xs {
    padding-left: var(--size-xs);
    padding-right: var(--size-xs);
}

.ph-sm {
    padding-left: var(--size-sm);
    padding-right: var(--size-sm);
}

.ph-md {
    padding-left: var(--size-md);
    padding-right: var(--size-md);
}

.ph-lg {
    padding-left: var(--size-lg);
    padding-right: var(--size-lg);
}

.ph-xl {
    padding-left: var(--size-xl);
    padding-right: var(--size-xl);
}

.ph-xxl {
    padding-left: var(--size-xxl);
    padding-right: var(--size-xxl);
}

/* padding - vertical */

.pv0 {
    padding-top: var(--size-0);
    padding-bottom: var(--size-0);
}

.pv-xxs {
    padding-top: var(--size-xxs);
    padding-bottom: var(--size-xxs);
}

.pv-xs {
    padding-top: var(--size-xs);
    padding-bottom: var(--size-xs);
}

.pv-sm {
    padding-top: var(--size-sm);
    padding-bottom: var(--size-sm);
}

.pv-md {
    padding-top: var(--size-md);
    padding-bottom: var(--size-md);
}

.pv-lg {
    padding-top: var(--size-lg);
    padding-bottom: var(--size-lg);
}

.pv-xxl {
    padding-top: var(--size-xxl);
    padding-bottom: var(--size-xxl);
}

/* elements */

img {
    vertical-align: middle;
    max-width: 100%;
}

body {
    font-family: "Libre Baskerville", Georgia, Times, serif;
    font-style: normal;
    line-height: var(--line-height);
    color: var(--gray);
    max-width: var(--screen-laptop);
}

ul {
    padding-left: var(--size-base);
}

.wrapper {
    margin: var(--size-lg);
}

a {
    text-decoration: none;
    color: var(--gray);
}

a:hover {
    color: var(--black);
    transition: background-color 0.9s ease-out, color 0.9s ease-out, box-shadow 0.5s ease-in;
}

/* grids */
.grid-of-three,
.grid-of-two {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--size-lg);
}

@media screen and (min-width: 700px) {
    .grid-of-three {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--size-lg);
    }

    .grid-of-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--size-lg);
    }
}

/* flex */

.flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* custom css */

::selection {
    background-color: var(--secondary-gray);
}

.list-none {
    list-style: none;
    padding: 0;
}

.border-top {
    border-top: 1px solid var(--secondary-gray);
}

.bordertb-dashed {
    border-top: 1px dashed var(--secondary-gray);
    border-bottom: 1px dashed var(--secondary-gray);
}

.divider {
    display: block;
    border: 0;
    text-align: center;
    overflow: visible;
    border-bottom: 1px dashed var(--secondary-gray);
}

.arrow,
.site-header {
    font-family: "Lato", sans-serif;
    font-size: 0.75rem;
    line-height: 1;
}

.site-header a {
    letter-spacing: 2px;
}

.logo {
    text-transform: uppercase;
    font-weight: 700;
}

.hamberger {
    display: block;
    cursor: pointer;
    width: var(--size-xxl);
    text-align: right;
    font-size: var(--size-md);
}

@media screen and (min-width: 700px) {
    .hamberger {
        display: none;
    }
}

.menu-list {
    margin-top: var(--size-xl);
}

.menu-item {
    display: block;
    margin-right: var(--size-xl);
    margin-bottom: var(--size-xl);
}

@media screen and (min-width: 700px) {
    .menu-item {
        display: inline-block;
        margin-bottom: unset;
    }

    .menu-list {
        margin-top: 0;
    }
}

.menu-item:last-child {
    margin-right: 0;
}

.thumb {
    display: block;
}

.thumb img {
    width: 100%;
}

.work-post {
    max-width: 400px;
}

.work-post,
.post {
    width: 100%;
}

@media screen and (min-width: 700px) {
    .post {
        max-width: 600px;
    }
}

.post-meta {
    font-size: var(--size-sm);
    font-family: "Lato", sans-serif;
}

.full-width {
    width: 100%;
}

.single-post h1,
.single-post h2,
.single-post h3 {
    margin-top: var(--size-lg);
}

.single-post p {
    margin-top: var(--size-md);
    margin-bottom: var(--size-md);
}

.tag:hover .title-link,
.post:hover .title-link,
.active,
.single-post a,
.link {
    border-bottom: 3px solid var(--link-color);
    padding-bottom: var(--size-xxs);
}

.quote {
    background-color: #fffcea;
    margin: var(--size-md) 0;
    padding: var(--size-xs);
    border-left: 3px solid var(--link-color);
}

.link,
.single-post a {
    font-style: italic;
    white-space: nowrap;
}

.taglink::after {
    content: ",";
}

.taglink:last-child::after {
    content: ".";
}

.single-content {
    margin-top: var(--size-xxl);
}

.single-post img {
    display: block;
    margin: 0 auto;
}

.single-post a:hover,
.link:hover {
    background-color: var(--link-color);
    border-bottom: 0;
    box-shadow: 0 0 0 5px var(--link-color);
}

.single-post .thumb {
    border-bottom: unset;
    padding-bottom: 0;
    font-style: unset;
}

.single-post .thumb:hover {
    background-color: unset;
    border-bottom: unset;
    box-shadow: unset;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.half,
.three-forth,
.quarter {
    width: 100%;
}

@media screen and (min-width: 700px) {
    .half {
        width: 50%;
    }

    .quarter {
        width: 25%;
    }

    .three-forth {
        width: 75%;
    }
}

.to-top {
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.footer {
    padding-top: var(--size-xl);
}

.follow-me {
    text-align: left;
}

@media screen and (min-width: 700px) {
    .follow-me {
        text-align: right;
    }
}

.video {
    width: 100%;
    height: auto;
}

/* colors */

.gray {
    color: var(--gray);
}

/**  js  **/
.hide {
    display: none;
}

@media screen and (min-width: 700px) {
    .hide {
        display: block;
    }
}

.nav {
    width: 100%;
}

@media screen and (min-width: 700px) {
    .nav {
        width: unset;
    }
}
